<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chau Bao Linh Co</title>
    <link type="text/css" rel="stylesheet" href="css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="css/tether.min.css">
    <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,500&subset=vietnamese">
    <link type="text/css" rel="stylesheet" href="css/style.css">
</head>
<body>
    <nav class="navbar navbar-fixed-top bg-faded">
        <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#top-navbar-xs" aria-controls="top-navbar-xs" aria-expanded="false" aria-label="Toggle navigation">
            &#9776;
        </button>
        <div class="collapse navbar-toggleable-xs" id="top-navbar-xs">
            <a class="navbar-brand" href="#">
                <img src="http://www.nhabe.com.vn/eng/uploaded/nbcmedia03_2.jpg">
            </a>
            <ul class="nav navbar-nav">
                <li class="nav-item hidden-sm-down active">
                    <a class="nav-link" href="#">Trang chủ</a>
                </li>
                <li class="nav-item hidden-sm-down">
                    <a class="nav-link splitter">|</a>
                </li>
                <li class="nav-item hidden-sm-down">
                    <a class="nav-link" href="#">Giới thiệu</a>
                </li>
                <li class="nav-item hidden-sm-down">
                    <a class="nav-link splitter">|</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Catalogue</a>
                </li>
                <li class="nav-item hidden-xs-down">
                    <a class="nav-link splitter">|</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Sản phẩm khuyến mãi</a>
                </li>
                <li class="nav-item hidden-xs-down">
                    <a class="nav-link splitter">|</a>
                </li>
                <li class="nav-item hidden-sm-down">
                    <a class="nav-link" href="#">Tin tức sự kiện</a>
                </li>
                <li class="nav-item hidden-sm-down">
                    <a class="nav-link splitter">|</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Liên hệ</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-12 no-padding">
                <div class="cbl-special-product">
                    <a href="javascript:;">
                        <img src="http://agb.com.vn/upload/product/665928905409_500x470.jpg" />
                        <span class="cbl-mark-name">Vải nhung</span>
                    </a>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12 no-padding">
                <div class="cbl-special-product">
                    <a href="javascript:;">
                        <img src="http://agb.com.vn/upload/product/382123611878_500x470.jpg" />
                        <span class="cbl-mark-name">Vải bố</span>
                    </a>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12 no-padding">
                <div class="cbl-special-product">
                    <a href="javascript:;">
                        <img src="http://agb.com.vn/upload/product/253656585389_500x470.jpg" />
                        <span class="cbl-mark-name">Vải Artdo - Dệt</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-4 cbl-left-bar hidden-xs-down">
                <div class="jumbotron">
                    <h5 class="title">Danh mục sản phẩm</h5>
                    <hr>
                    <div class="list-group">
                        <a href="#" class="list-group-item list-group-item-action">Dapibus ac facilisis in</a>
                        <a href="#" class="list-group-item list-group-item-action">Morbi leo risus</a>
                        <a href="#" class="list-group-item list-group-item-action">Porta ac consectetur ac</a>
                    </div>
                </div>
            </div>
            <div class="col-md-9 col-sm-8 cbl-list-content col-xs-12">
                <div class="row">
                    <div class="col-md-4 cbl-item">
                        <a href="#">
                            <img src="http://agb.com.vn/upload/product/519147958744.jpg">
                            <div class="name">1033-2B</div>
                        </a>
                    </div>
                    <div class="col-md-4 cbl-item">
                        <a href="#">
                            <img src="http://agb.com.vn/upload/product/519147958744.jpg">
                            <div class="name">1033-2B</div>
                        </a>
                    </div>
                    <div class="col-md-4 cbl-item">
                        <a href="#">
                            <img src="http://agb.com.vn/upload/product/519147958744.jpg">
                            <div class="name">1033-2B</div>
                        </a>
                    </div>
                    <div class="col-md-4 cbl-item">
                        <a href="#">
                            <img src="http://agb.com.vn/upload/product/519147958744.jpg">
                            <div class="name">1033-2B</div>
                        </a>
                    </div>
                    <div class="col-md-4 cbl-item">
                        <a href="#">
                            <img src="http://agb.com.vn/upload/product/519147958744.jpg">
                            <div class="name">1033-2B</div>
                        </a>
                    </div>
                    <div class="col-md-4 cbl-item">
                        <a href="#">
                            <img src="http://agb.com.vn/upload/product/519147958744.jpg">
                            <div class="name">1033-2B</div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid cbl-footer">
        <div class="row">
            <div class="col-md-12">
                <h5>Công ty TNHH MTV</h5>
                <p>Địa chỉ: </p>
                <p>Điện thoại: </p>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="js/jquery/jquery-3.1.0.min.js"></script>
    <script type="text/javascript" src="js/bootstrap/tether.min.js"></script>
    <script type="text/javascript" src="js/bootstrap/bootstrap.min.js"></script>
</body>
</html>